@keyframes appearFromRight {
    0% {
        transform: translate(100%, 0);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}
@keyframes appearFromLeft {
    0% {
        transform: translate(-100%, 0);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}
.List {
    width: 92.27vw;
    height: 28.8vw;
    position: relative;
    box-sizing: border-box;
    border-left: 0.8vw solid transparent;
    border-right: 0.8vw solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    .listContent {
        width: 85.07vw;
        height: 19.47vw;
        display: flex;
        justify-content: space-between;
        z-index: 2;
        a {
            appearance: none;
            text-decoration: none;
        }
        div {
            &:nth-child(1) {
                width: 31.73vw;
                height: 100%;
                box-sizing: border-box;
                border: 0.53vw solid #fb8fa3;
                background-size: 100%;

                div {
                    width: 11.6vw;
                    height: 4.53vw;
                    border: none;
                    background-image: url(./image/votes.png);
                    font-size: 2.8vw;
                    text-align: center;
                    line-height: 4.53vw;
                    color: #fffcd5;
                    font-family: tengxiang;
                    letter-spacing: 0.5vw;
                    white-space: nowrap;
                }
            }
            &:nth-child(2) {
                width: 50vw;
                height: 100%;
                position: relative;
                a {
                    margin: 0;
                    font-size: 3.47vw;
                    font-weight: normal;
                    color: #db405d;
                    appearance: none;
                    text-decoration: none;
                    display: block;
                }
                p {
                    margin: 0;
                    font-size: 2.93vw;
                    color: #fb7f96;
                }
                div {
                    width: 16.67vw;
                    height: 6.4vw;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    background-size: 100%;
                    text-align: center;
                    line-height: 6.4vw;
                    font-size: 3.2vw;
                    color: white;
                    font-family: tengxiang;
                }
            }
        }
    }
    img {
        &:nth-child(2) {
            width: 4.93vw;
            height: 4vw;
            position: absolute;
            bottom: -2vw;
            z-index: 2;
        } 
        &:last-child {
            width: 91.2vw;
            height: 9.07vw;
            position: absolute;
            bottom: 0;
        }
    }
}