@keyframes float {
    from {
        transform: translate(0, -5%);
    }

    to {
        transform: translate(0, 0);
    }
}

.banner {
    width: 100vw;
    height: 69.33vw;
    background-image: url(./image/banner.png);
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 3;
    position: relative;
    img {
        position: absolute;
        &:nth-of-type(1) {
            width: 100vw;
            top: 0;
            left: 5vw;
        }
        &:nth-of-type(2) {
            width: 100vw;
            top: 0;
            right: 5vw;
        }
        &:nth-of-type(3) {
            width: 19.6vw;
            height: 13.47vw;
            left: 0vw;
            top: 4vw;
            animation: float 0.8s;
            animation-iteration-count: infinite;
            animation-direction: alternate-reverse;
            animation-timing-function: ease-in-out;
            animation-delay: 1s;
        }

        &:nth-of-type(4) {
            width: 19.33vw;
            height: 19.33vw;
            bottom: 16vw;
            left: 7vw;
            animation: float 0.8s;
            animation-iteration-count: infinite;
            animation-direction: alternate-reverse;
            animation-timing-function: ease-in-out;
            animation-delay: 2s;
        }

        &:nth-of-type(5) {
            width: 10.53vw;
            height: 5.47vw;
            right: 12.3vw;
            top: 16vw;
            animation: float 0.8s;
            animation-iteration-count: infinite;
            animation-direction: alternate-reverse;
            animation-timing-function: ease-in-out;
            animation-delay: 3s;
        }
    }

    .total-vote {
        width: 46.13vw;
        height: 6.8vw;
        margin-bottom: 4.93vw;
        display: flex;
        justify-content: space-between;

        div {
            width: 6.8vw;
            height: 6.8vw;
            box-sizing: border-box;
            border: 0.53vw solid transparent;
            border-image: url(./image/border.png) 6.8% round;
            -webkit-border-image: url(./image/border.png) 6.8% round;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fffed7;
            font-family: tengxiang;
        }
    }

    .level {
        position: absolute;
        bottom: 0;
        font-size: 3vw;
        margin: 0;
        color: #fffed7;
        font-family: dianzhen;
        margin-bottom: 0.5vw;
    }
}