body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ffd2c9;
}
#root {
    position: absolute;
}
@font-face {
    font-family: dianzhen;
    src: url(../src/font/dianzhen.ttf);
}
@font-face {
    font-family: tengxiang;
    src: url(../src/font/tengxiang.ttf);
}


